<!DOCTYPE html>
<html th:fragment="layout (head, content)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/base.css}" />
    <th:block th:replace="${head}">
        <title>Page Title</title>
    </th:block>
</head>
<body>
<div class="d-flex flex-column min-vh-100">
    <header class="display-block">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid" style="float:center">
                <a class="navbar-brand font-weight-bolder mx-3" id="modify-me1" href="/">NanemKuy | TukangTaman</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0" style="width:100%">
                        <li class="nav-item">
                            <a class="nav-link" href="/">List Tukang Taman</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add-tukang-taman">Tambah Tukang Taman</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-xs" id="main-content">
        <div th:replace="${content}">
        </div>
    </div>

    <footer class="mt-auto container-fluid p-4">
        <p class="text-center font-weight-bolder">&copy; 2021 NanemKuy</p>
    </footer>
</div>

</body>
</html>
