<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>NanemKuy | TukangTaman</title>
        <script type="text/javascript" th:src="@{/js/add-komentar.js}"></script>
        <script>
            var namaTukangTaman = "[[${tukangtaman.getNama()}]]";
        </script>
    </th:block>
</head>
<body>
<div class="container py-3" id="content">
    <div class="row">
        <div>
            <h2 id="namaTukangTaman" class="font-weight-bolder" th:text="${tukangtaman.getNama()}"></h2>
            <br>
            <h4 th:text="${tukangtaman.getKategori()}"></h4>
            <h4 th:text="${tukangtaman.getDeskripsi()}"></h4>
            <br><br>

            <h4>Ulasan</h4>
            <div th:each="review: ${tukangtaman.getListReview()}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="font-weight-bolder" th:text="${review.getNama()}"></h5>
                        <h5 th:text="${review.getKomentar()}"></h5>
                    </div>
                </div>
                <br>
            </div>
            <div id="komentarBaru">
            </div>

            <br><br>

            <h4>Tambah Ulasan</h4>
            <div class="form-group">
                <label for="formNama">Nama</label>
                <input type="text" class="form-control" id="formNama" placeholder="nama">
            </div>
            <div class="form-group">
                <label for="formKomentar">Komentar</label>
                <textarea class="form-control" id="formKomentar" rows="3" placeholder="komentar"></textarea>
            </div>
            <button type="button" th:onclick="addKomentar()">Kirim</button>
        </div>
    </div>
</div>
</body>
</html>