<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title-and-style}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="title-and-style">
        <title>NanemKuy | TukangTaman</title>
    </th:block>
    <style>
    </style>
</head>
<body>
<div class="container py-3" id="content">
    <div class="row">
        <div class="col-sm-12" th:each="tukangtaman: ${listtukangtaman}">
            <div class="card text-center text-dark">
                <div class="card-body p-3">
                    <a th:attr="href='/detail/' + ${tukangtaman.getNama()}">
                         <h1 class="card-title" th:text="${tukangtaman.getNama()}"></h1>
                    </a>
                    <br />

                    <h5 th:text="${tukangtaman.getDeskripsi()}"></h5>
                    <h5 th:text="${tukangtaman.getKategori()}"></h5>


                    <br />
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>